<div style="padding: 0px 68px; ">
	<%= simple_form_for(@note, format: :json, :html => {:multipart => true}) do |f| %>
	  <div class="form-inputs">
	    <%= f.association :user, :label_method => :email, :include_blank => false, :required => true %>
	    <%= f.input :content, :required => true, :input_html => {:class => 'content'} %>
			<%= file_field_tag :attachment %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, {:class => "btn btn-primary"} %>
			<%= link_to 'Back', notes_path, {:class => "btn"} %>
	  </div>
	<% end %>
</div>
