<% content_for :header do -%>
	<h3>微博列表</h3>
<% end -%>

<table class="table table-hover">
  <tr>
    <th>内容</th>
    <th>发布者</th>
    <th>所属小区</th>
    <th>创建时间</th>
    <th></th>		
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.content.truncate(30) %></td>
    <td><%= note.user.name rescue "" %></td>
    <td><%= note.community.name rescue "" %></td>
		<td><%= l note.created_at %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '创建微博', new_note_path , {:class => "btn"} %>
<%= will_paginate @notes %>