<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @note.content %>
</p>

<p>
  <b>User:</b>
  <%= @note.user.email %>
</p>

<p>
	<b>Image:</b>
	<%= image_tag @note.attachments.first.source.url unless @note.attachments.blank? %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
