<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @second.title %>
</p>

<p>
  <b>Owner:</b>
  <%= @second.owner %>
</p>

<p>
  <b>Price:</b>
  <%= @second.price %>
</p>

<p>
  <b>Views:</b>
  <%= @second.views %>
</p>

<p>
  <b>Rate:</b>
  <%= @second.rate %>
</p>

<p>
  <b>Desc:</b>
  <%= @second.desc %>
</p>


<%= link_to 'Edit', edit_second_path(@second) %> |
<%= link_to 'Back', seconds_path %>
