<%= simple_form_for(@author, html:{multipart: true}) do |f| %>
  <%= f.error_notification %>

<div style="padding: 0px 68px; ">
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :sex %>
    <%= f.input :contact %>
    <%= f.input :desc, input_html: { class: 'content' } %>
		<div id="addfile">
			<%= file_field_tag "attachments[]" %><br/>
		</div>
		<input type='button' value="add file" onclick="add_file();" class="btn btn-info" >
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>