<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>便民热线</title>
	<meta content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0" name="viewport"/>
	<meta content="240" name="MobileOptimized"/>
 <style type="text/css">
	body, table, tr{
		padding: 0;
		margin: 0;
	}
	a{
		outline:0;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	
	
	body{
		background-color: #f8f8f8;
	}
	td{
		text-align: center;
		width: 33%;
	}
	td img{
		width: 80%;
		margin: 10%;
	}
	
	
</style>
</head>
<bojavascript:window.JSphone.call('15810845422');dy>
	<table height="100%" width="100%">
		<tr height="11">
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr height="26">
			<td>
				<a href="javascript:window.JSphone.call('114');"><img alt="" src="<%= asset_path 'hotline/电话号码查询.png' %>"></a>
				号码查询
			</td>
			<td>
				<a href="javascript:window.JSphone.call('2613376');"><img alt="" src="<%= asset_path '
hotline/公积金查询.png' %>"></a>

				公积金查询
			</td>
			<td>
				<a href="javascript:window.JSphone.call('2293020');"><img alt="" src="<%= asset_path '
hotline/供热监督.png' %>"></a>

				供热监督
			</td>
		</tr>
		<tr height="26">
			<td>
				<a href="javascript:window.JSphone.call('2078973');"><img alt="" src="<%= asset_path '
hotline/火车票.png' %>"></a>

				快客订票
			</td>
			<td>
				<a href="javascript:window.JSphone.call('3875555');"><img alt="" src="<%= asset_path '
hotline/客运统管办.png' %>"></a>

				客运统管办
			</td>
			<td>
				<a href="javascript:window.JSphone.call('2168111');"><img alt="" src="<%= asset_path '
hotline/社区热线.png' %>"></a>

				政府办公室
			</td>
		</tr>
		<tr height="26">
			<td>
				<a href="javascript:window.JSphone.call('12315');"><img alt="" src="<%= asset_path '
hotline/消费者投诉.png' %>"></a>

				消费者投诉
			</td>
			<td>
				<a href="javascript:window.JSphone.call('2168400');"><img alt="" src="<%= asset_path '
hotline/医保查询.png' %>"></a>

				卫生局
			</td>
			<td>
				<a href="hotline/more"><img alt="" src="<%= asset_path '
hotline/加.png' %>"></a>

				更多...
			</td>
		</tr>
		<tr height="11">
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</body>
</html>
