<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Content:</b>
  <%= @news.content %>
</p>
<p>
	url: <%= link_to "image", @news.attachments.first.source.url if @news.attachments.present? %>
</p>
<p>
  <b>cover:</b>
  <%= image_tag @news.attachments.first.source.url if @news.attachments.present? %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
