<p id="notice"><%= notice %></p>

<p>
  <b>App type:</b>
  <%= @merchant.app_type %>
</p>

<p>
  <b>Service type:</b>
  <%= @merchant.service_type %>
</p>

<p>
  <b>Name:</b>
  <%= @merchant.name %>
</p>

<p>
  <b>Title:</b>
  <%= @merchant.title %>
</p>

<p>
  <b>Contact:</b>
  <%= @merchant.contact %>
</p>

<p>
  <b>Position:</b>
  <%= @merchant.position %>
</p>

<p>
  <b>Location:</b>
  <%= @merchant.location %>
</p>

<p>
  <b>Desc:</b>
  <%= @merchant.desc %>
</p>

<p>
  <b>V type:</b>
  <%= @merchant.v_type %>
</p>


<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
